# Copyright (c) 2026 José María Micoli
# Licensed under {'license_type': 'BSL1.1', 'change_date': '2033-02-17'}
#
# You may:
# ✔ Study
# ✔ Modify
# ✔ Use for internal security testing
#
# You may NOT:
# ✘ Offer as a commercial service
# ✘ Sell derived competing products

aiosqlite==0.22.1
brotli==1.2.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
colorama==0.4.6
cryptography==46.0.5
cssselect2==0.9.0
cvss==3.1
defusedxml==0.7.1
fonttools==4.61.1
fpdf2==2.8.5
idna==3.11
Jinja2==3.1.6
linkify-it-py==2.0.3
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdit-py-plugins==0.5.0
mdurl==0.1.2
pathlib==1.0.1
pillow==12.1.0
platformdirs==4.5.1
pycparser==3.0
pydyf==0.12.1
Pygments==2.19.2
pyphen==0.17.2
reportlab==4.4.10
requests==2.32.5
rich==14.3.2
psycopg[binary]==3.2.9
textual==7.5.0
tinycss2==1.5.1
tinyhtml5==2.0.0
tree-sitter==0.25.2
tree-sitter-bash==0.25.1
tree-sitter-css==0.25.0
tree-sitter-go==0.25.0
tree-sitter-html==0.23.2
tree-sitter-java==0.23.5
tree-sitter-javascript==0.25.0
tree-sitter-json==0.24.8
tree-sitter-markdown==0.5.1
tree-sitter-python==0.25.0
tree-sitter-regex==0.25.0
tree-sitter-rust==0.24.0
tree-sitter-sql==0.3.11
tree-sitter-toml==0.7.0
tree-sitter-xml==0.7.0
tree-sitter-yaml==0.7.2
typing_extensions==4.15.0
uc-micro-py==1.0.3
urllib3==2.6.3
weasyprint==68.1
webencodings==0.5.1
zopfli==0.4.1
fastapi==0.116.1
SQLAlchemy==2.0.44
pydantic==2.12.0
PyJWT==2.10.1
uvicorn==0.35.0
